/* css chung */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
a,
label {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: black;
  transition: all 0.3s;
  margin: 0;
}
a:hover {
  color: blue; text-decoration: none;
}
.header,
.footer {
  background: #343a40;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}
h1 {
  font-size: 52px;
}
h2 {
  font-size: 46px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24;
}
h5 {
  font-size: 18px;
}
img {
  width: 100%;
}

/* header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.header ul {
  margin: 0;
}
.header .left {
  justify-content: flex-start;
}
.header .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .slogan strong {
  color: rgba(0, 0, 0, 0.2);
  font-size: calc(22px + (28 - 22) * ((100vw - 1366px) / (1920 - 1366)));
}
.header .navbar1 {
  justify-content: center;
}
.header ul.navbar1 li {
  padding: 20px;
  list-style: none;
  text-decoration: none;
}
.header input[type='search'] {
  margin-left: 10px;
}

/* banner */
.banner {
  margin: 0;
}
.banner .slider {
  margin: 0 auto;
  width: 100%;
}
.banner .slide {
  overflow: hidden;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.banner .slide::after {
  content: '';
  display: block;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.banner img {
  display: block;
  width: 100%;
}
.banner .slide h1 {
  width: 100%;
  padding: 200px 60px;
  z-index: 2;
  color: white;
  font-style: italic;
  position: relative;
}

/* about */
.about {
  padding: 100px 15px;
  margin-bottom: 50px;
  overflow: hidden;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.about .tree {
  width: 35%;
  position: absolute;
  left: -200px;
  top: -10px;
  animation-duration: 8s;
  animation-name: wobble;
  animation-iteration-count: infinite;
}
.about::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}
.about .about-cont {
  justify-content: flex-start;
  color: #fff;
  z-index: 2;
}
.about .title,
.about .desc {
  width: 100%;
  margin-bottom: 20px;
  z-index: 2;
}
.about .content {
  width: 50%;
  z-index: 2;
}
.about-grid {padding: 50px 0;}
.about-grid .item {padding: 20px;}
.about-grid .item div.flex-center {flex-wrap: wrap;}
/* sản phẩm mới */
.new-product {
  margin: 50px 0;
}
.new-product .slider-nav {
  padding: 0 25%;
}
.new-product .slider-nav .slick-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.new-product .slider-nav .slick-slide::before {
  display: block;
  content: '';
  position: absolute;
  top: 25%;
  left: 0;
  width: 2px;
  height: 50%;
  background: black;
}
.new-product .title {
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}
.new-product .main {
  font-family: Arial;
  width: 100%;
  display: block;
  margin: 0 auto;
}
.new-product .main .slider-for .item {
  width: 100%;
}
.new-product .main .slider-for .item .img-product,
.new-product .main .slider-for .item .content-product {
  width: 50%;
  padding: 0 50px;
}
.new-product .img-product-icon {
  width: 100%;
  padding: 0 20px;
}
.new-product .slick-dots {
  position: relative;
  top: -170px;
}
.new-product .content-product ul li {
  list-style: none;
  padding-left: 15px;
  position: relative;
}
.new-product .content-product ul li::after {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 2px;
  background: rgba(0, 0, 0, 0.468);
  top: 40%;
  left: 0;
}

/* content */
.content {
  margin-bottom: 50px;
  margin-top: 50px;
}
.content .glasses-cate{ width: 100%; justify-content: space-around; margin-bottom: 30px; border: solid 2px #0c3934;; background-color: rgb(185, 208, 141);}
.content .glasses-cate li{ padding: 10px 84px; position: relative;}

.content .glasses-cate li:hover{ background: #0c3934; transition: all 0.3s;}
.content .glasses-cate li:hover a{ color: #fff;}
.content .title {
  justify-content: center;
  flex-wrap: wrap;
}
.content .title .descriprion,

.content .item-product {
  padding: 30px;
  margin: 15px 0;
  border: rgba(168, 206, 0, 0.761) thin solid;
  border-radius: 5px;
  overflow: hidden;
  border-radius: 6px;
  transition: transform .2s;
}
.content .item-product:hover{transform: scale(1.05);}
.content .item-product .price {
  justify-content: space-between;
}

/* footer */
.footer {
  padding: 30px 0;
}

/* contact */
.contact {
  padding: 0;
  background-size: cover;
  height: auto;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.contact-form{position: relative; top: -150px;}
.contact-content {
  position: relative;
  z-index: 1;
}
.contact form {
  padding: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
  background: #fff;
}
.contact-desc{padding-top: 75px;padding-left: 30px;}
.location {
  padding: 0;
}
.location ul.flex-center li {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.location ul.flex-center li div {
  text-align: center;
}
.location ul.flex-center li label {
  width: 100%; color: rgba(0, 0, 255, 0.859);
}
.location ul.flex-center li div i {
  font-size: 100px;
  color: rgba(0, 0, 0, 0.42);
}
.space {
  position: relative;
}
.space::before,
.space::after {
  display: block;
  position: absolute;
  content: '';
  height: 100%;
  width: 2px;
  background: rgba(0, 0, 0, 0.448);
  top: 0;
  bottom: 0;
  margin: auto;
}
.space::after {right: 0;}
.space::before {left: 0;}
/* sitemap */
.sitemap {
  padding: 50px 0;
}

/* product */
.detail-title {width: 40%; text-align: center;}
